<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIVAP</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="container">
        <div class="header">
        <div class="logo">
            <a href="#">
                <img src="../assets/Captura de tela 2024-03-22 183053 (2).png">
            </a>
        </div>
    </div>

    <div class="login_body">
            <h2>LOGIN</h2>
            <form>
                <div class="input_box">
                    <input type="email" placeholder="Email" required>
                </div>

                <div class="input_box">
                    <input type="password" placeholder="Senha" required>
                </div>
                <div class="forget_passoword">
                    <p>Esqueceu sua senha ? <a href="#">Clique aqui!</a></p>
                </div>

                <div>
                    <button class="submit">Entrar</button>
                </div>
            </form>
    </div>
    </div>
</body>
</html>