body {
    padding: 0;
    margin: 0;
    height: 90vh;
    width: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.forget_passoword { 
    text-align: center;
    
}
a { 
    text-decoration: none;
}

input::placeholder { 
    font-size: 15px;
}



.logo img {
    height: 32%;
    width: 32%;
    margin: auto;
    display: block;

}
.header h2{
    padding-top: 3%;
    display: block;
    margin: auto;

}
.container { 
    margin: 3%;
}
.header {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_body {
    padding: 60px;
    z-index: 90;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 400px;
    height: 390px;
    margin-left: 50%;
    background-color: rgba(238, 232, 232, 0.75);
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%);
}

.login_body h2 {
    display: block;
    font-size: 32px;
    color: #1a75c4;
    margin-top: 0;
    text-align: center;
}

.login_body input,select {
    border-radius: 10px;
    font-size: 15px;
    height: 50px;
    width: 100%;
    color: #000000;
    background-color: rgba(226, 215, 215, 0.75);
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.login_body input:hover {
    background-color: rgba(238, 229, 229, 0.75);
}

.input_box {
    margin-bottom: 25px;
}

.login_body button {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #065da4;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}

.login_body button:hover {
    background-color: #156db4;
    cursor: pointer;
}
